<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style..css">
    <title>${book.name}</title>
</head>
<body>

    <div class="container">
        <h1 class="heading">${book.name}</h1>

    <div class="list">
        <div class="grid">
            <div class="g-col-6">
                <a href="#">
                    <img src="${book.imagePath}" alt="">${book.name}</a>
            </div>
            <div class="g-col-6">
                <h2>Информация о книге</h2>
                <p>Наименование: ${book.name}</p>
                <p>О книге: ${book.article}</p>
                <p> Статус книги:
                    <#if book.isAvailable??>
                        Доступно
                        <#else>
                            Недоступно
                    </#if>
                </p>

            </div>
        </div>        
    </div>

</body>
</html>